{% extends 'base.html.twig' %}

{% block title %}Détails musique{% endblock %}

{% block main_class %}music-details d-flex flex-column justify-content-center align-items-center{% endblock %}

{% block main %}
    <i class="fa-solid fa-music"></i>
    <table>
        <thead>
        <tr>
            <td colspan="2"><h2 class="music-title">Titre de la musique</h2></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Auteur :</td>
            <td class="text-end">NOM Prénom</td>
        </tr>
        <tr>
            <td>Durée :</td>
            <td class="text-end">1m32s</td>
        </tr>
        <tr>
            <td>Catégories :</td>
            <td class="text-end">Genre 1, Genre 2</td>
        </tr>
        <tr>
            <td>Date de sortie :</td>
            <td class="text-end">11/11/2022</td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="#" class="btn outline-btn w-100">ÉDITER</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="#" class="btn solid-btn danger w-100">SUPPRIMER</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

