html,
body {
    font-family: var(--main-font);
    color: var(--light-text-color);
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background: var(--main-gradiant-diag);
    overflow: auto;
}
