.artist-details {
    .fa-user {
        font-size: 15rem;
        margin-bottom: 5rem;
    }

    .artist-nickname {
        text-decoration: none;
        font-size: 2rem;
        text-align: center;
    }

    td {
        padding: 0.5rem 0;
    }

    .artist-musics-title {
        font-size: 1.5rem;
    }
}
