.music-details {
    .fa-music {
        font-size: 15rem;
        margin-bottom: 5rem;
    }

    .music-title {
        text-decoration: none;
        font-size: 2rem;
    }

    td {
        padding: 0.5rem 0;
    }
}
