{% extends 'base.html.twig' %}

{% block title %}Détails catégorie{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-12 pt-5 d-flex justify-content-between align-items-center">
                        <h2>Nom catégorie</h2>
                        <div class="d-flex">
                            <a href="#" class="btn outline-btn w-100">ÉDITER</a>
                            <a href="#" class="btn solid-btn danger w-100 ms-3">SUPPRIMER</a>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <p>Les musiques</p>
                    </div>
                    {% for i in 0..10 %}
                        <div class="col-12 mb-3">
                            <a href="#" class="music-card bordered">
                                <h2 class="music-title">Titre de la musique</h2>
                                <p class="music-author">Auteur</p>
                                <p class="music-category">Genre 1, Genre 2</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-3">
                {#                todo reserved for stats#}
            </div>
        </div>
    </div>
{% endblock %}

